@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <p>我是一個界面灰常友好漂亮的錯誤頁。</p>
    </div>
</body>
</html>
