@{
    //ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Form.cshtml";
}


<style>
    .td_background {
        font-weight: bold;
        background-color: #d4d2d250;
        text-align: center;
        font-weight: bold;
        color: blue
    }
    .td_center {
        text-align: center;
    }
    .td_right {
        text-align: right;
        color: #0096C7;
        width: 20%;
    }
    .tb_header {
        background-color:#0096C7;
        text-align: center;
        color: white;
    }
</style>
<form id="form" class="layui-form" style="margin-top:10px;">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">進出資料</li>
                <li>校正車牌</li>
                <li>收費資料</li>
                <li>車輛圖片</li>
                <li>場中場記錄</li>
                <li>充電紀錄</li>
            </ul>
            <div class="layui-tab-content" style="height:600px;overflow-y:scroll;">
                <div class="layui-tab-item layui-show">
                    <table class="layui-table">
                        <tr>
                            <td class="tb_header">入場車牌</td>
                            <td style="background-color: #eef7fe">
                                <input type="text" name="InPlate" style="width: 160px; border: none; background-color: #eef7fe" class="layui-input" readonly="readonly">
                                <input type="text" name="InPorrectionPlate" style="width: 160px; border: none; background-color: #eef7fe" class="layui-input" readonly="readonly">
                            </td>
                        </tr>
                        <tr>
                            <td class="tb_header">入場時間</td>
                            <td><input type="text" name="InTime" style="width:160px; border:none" class="layui-input" readonly="readonly"></td>
                        </tr>
                        <tr>
                            <td class="tb_header">入口車道</td>
                            <td style="background-color: #eef7fe">
                                <input type="text" name="InChannelName" style="width: 160px; border: none; background-color: #eef7fe" class="layui-input" readonly="readonly">
                            </td>
                        </tr>
                        <tr>
                            <td class="tb_header" id="spanPlateInfo" nowrap="nowrap">出場(校)車牌</td>
                            <td>
                                <input type="text" name="OutPlate" style="width:160px; border:none" class="layui-input" readonly="readonly">
                                <input type="text" name="OutPorrectionPlate" style="width:160px; border:none" class="layui-input" readonly="readonly">
                            </td>
                        </tr>
                        <tr>
                            <td class="tb_header" id="spanOutTime">出場時間</td>
                            <td style="background-color: #eef7fe">
                                <input type="text" name="OutTime" style="width: 160px; border: none; background-color: #eef7fe" class="layui-input" readonly="readonly">
                            </td>
                        </tr>
                        <tr>
                            <td class="tb_header">出口車道</td>
                            <td>
                                <input type="text" name="OutChannelName" style="width:160px; border:none" class="layui-input" readonly="readonly">
                            </td>
                        </tr>
                        <tr>
                            <td class="tb_header">停車類型</td>
                            <td style="background-color: #eef7fe">
                                <input type="text" name="BusinessName" style="width: 160px; border: none; background-color: #eef7fe" class="layui-input" readonly="readonly">
                            </td>
                        </tr>
                        <tr>
                            <td class="tb_header">停車時長</td>
                            <td><input type="text" name="Remark" style="width:160px; border:none" class="layui-input" readonly="readonly"></td>
                        </tr>
                        <tr>
                            <td class="tb_header">入口開閘</td>
                            <td style="background-color: #eef7fe">
                                <input type="text" name="InOpenName" style="width: 200px; border: none; background-color: #eef7fe" class="layui-input" readonly="readonly">
                            </td>
                        </tr>
                        <tr>
                            <td class="tb_header">操作人</td>
                            <td>
                                <input type="text" name="OperateId" style="width: 160px;border: none" class="layui-input" readonly="readonly">
                            </td>
                        </tr>
                        <tr>
                            <td class="tb_header">操作時間</td>
                            <td style="background-color: #eef7fe">
                                <input type="text" name="OperateTime" style="width: 160px; border: none; background-color: #eef7fe" class="layui-input" readonly="readonly">
                            </td>
                        </tr>
                        <tr>
                            <td class="tb_header">出口開閘</td>
                            <td>
                                <input type="text" name="OutOpenName" style="width:160px; border:none" class="layui-input" readonly="readonly">
                            </td>
                        </tr>
                        <tr>
                            <td class="tb_header">
                                <input type="hidden" name="InCarImg" id="InCarImg" />
                                <input type="hidden" name="OutCarImg" id="OutCarImg" />
                                操作備註
                            </td>
                            <td style="background-color: #eef7fe;">
                                <input type="text" name="ORemark" style="width: 180px; height: 100px; border: none; background-color: #eef7fe" class="layui-input" readonly="readonly">
                            </td>
                        </tr>
                        <tr>
                            <td class="tb_header" title="計费支付操作時間">支付時間</td>
                            <td>
                                <input type="text" name="PayTimes" style="width:200px; border:none" class="layui-input" readonly="readonly">
                            </td>
                        </tr>
                        <tr>
                            <td class="tb_header" title="共享車位車輛,停車記錄交替循環系統計费截止時間點">
                                共享計費時
                            </td>
                            <td style="background-color: #eef7fe;">
                                <input type="text" name="ChargingTime" style="width: 160px; border: none; background-color: #eef7fe " class="layui-input" readonly="readonly">
                            </td>
                        </tr>
                        <tr>
                            <td class="tb_header">出入狀態</td>
                            <td>
                                <input type="text" id="InLogoNo" name="InLogoNo" style="width: 160px; border: none; " class="layui-input" readonly="readonly">
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="layui-tab-item" style="height:600px;overflow-y: scroll">
                    <table class="layui-table">
                        <tr>
                            <td class="tb_header">識別號碼</td>
                            <td>
                                <input type="hidden" name="Id" />
                                <input type="hidden" name="CorrectionID" id="CorrectionID" />
                                <input type="hidden" name="InCarImg" id="InCarImg" />
                                <input type="hidden" name="InPlateImg" id="InPlateImg" />
                                <input type="text" name="InPlate" id="InPlate" readonly="readonly" lay-verify="required" cautocomplete="off" class="layui-input" style="width:120px;display:inline-block;border:none">
                            </td>
                        </tr>
                        <tr>
                            <td class="tb_header">校正號碼</td>
                            <td>
                                <input type="text" name="InPorrectionPlate" id="InPorrectionPlate" lay-verify="required" cautocomplete="off" class="layui-input" style="width:120px;display:inline-block">
                            </td>
                        </tr>
                        <tr>
                            <td class="tb_header" colspan="2">入口車牌圖片</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <img id="plate_img">
                                <br />
                                <img style="height:250px;width:350px;max-width:320px" id="in_img">
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td align="right">
                                <button id="btnSubmit" class="tb_header" lay-submit lay-filter="add" style="border:none;width:80px;height:38px;">確認校正</button>
                            </td>
                        </tr>
                    </table>
                    @*<div class="layui-form-item">
                        <div class="layui-input-block">
                            <button id="btnSubmit" class="layui-btn" lay-submit lay-filter="add">提交</button>
                        </div>
                    </div>*@
                </div>

                @*  收費資料  *@
                <div class="layui-tab-item" style="height:600px;overflow-y: scroll">
                    <table>
                        <tr class="td_right">
                            <td style="font-size:16px">車牌號碼 : <input type="text" name="InPlate" style="border:none;text-align:left;font-weight:bold;color:#0096C7"></td>
                        </tr>
                    </table>
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top:5px;border-width:medium">
                        <legend><span style="font-size: 16px; color: #0096C7; font-weight:bold">支付合計（單位：元）</span></legend>
                        <table class="layui-table">
                            <colgroup>
                                <col width="140">
                                <col width="130">
                                <col width="130">
                            </colgroup>
                            <thead>
                                <tr class="tb_header" style="background-color:#0096C7">
                                    <td>總應收</td>
                                    <td>停車費用</td>
                                    <td>充電費用</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" name="Actual" readonly="readonly" style="width:100%; border:none;text-align:center" class="layui-input"></td>
                                    <td><input type="text" name="TotalRequestParkingAmount"  readonly="readonly" style="width:100%;border:none;text-align:center" class="layui-input"></td>
                                    <td><input type="text" name="TotalRequestChargingAmount"  readonly="readonly" style="width:100%;border:none;text-align:center" class="layui-input"></td>
                                </tr>
                            </tbody>

                        </table>
                        <table class="layui-table" width="100%">
                            <tr style="background-color:#0096C7">
                                <td class="tb_header" width="120px">
                                    應收合計
                                </td>
                                <td class="tb_header">
                                    <input type="text" name="Actual" style="border:none;text-align:left;background-color:#0096C7;color:white;">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table width="60%">
                                        <tr>
                                            <th width="130px" nowrap="nowrap">實收現金</th>
                                            <td><input type="text" readonly="readonly" name="CashCost" style="border: none; text-align: right;width:80px;"></td>
                                        </tr>
                                        <tr>
                                            <th>行動支付</th>
                                            <td><input type="text" readonly="readonly" name="MobileCost" style="border: none; text-align: right; width: 80px;"></td>
                                        </tr>
                                        <tr>
                                            <th>折扣金額</th>
                                            <td><input type="text" readonly="readonly" name="FreeCost" style="border: none; text-align: right; width: 80px"></td>
                                        </tr>
                                        <tr>
                                            <th>電子優惠</th>
                                            <td><input type="text" readonly="readonly" name="ElectronicCost" style="border: none; text-align: right; width: 80px"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </fieldset>

                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px; border-width: medium">
                        <legend><span style="font-size: 16px; color: #0096C7; font-weight: bold ">支付明細（單位：元）</span></legend>
                        <table id="gridList" class="layui-table">
                            <colgroup>
                                <col width="140">
                                <col width="130">
                                <col width="130">
                            </colgroup>
                            <thead>
                                <tr class="tb_header" style="background-color:#0096C7">
                                    <td>支付時間</td>
                                    <td>支付金額</td>
                                    <td>支付方式</td>
                                </tr>
                            </thead>
                            <!--内容容器-->
                            <tbody id="content"></tbody>
                        </table>
                    </fieldset>

                </div>

                <div class="layui-tab-item" style="height:600px;overflow-y: scroll">
                    <table class="layui-table">
                        <tr>
                            <td class="tb_header">入口圖片</td>
                        </tr>
                        <tr>
                            <td><img id="out_img" style="width: 300px; height: 300px; max-width: 300px; "></td>
                        </tr>
                        <tr>
                            <td class="tb_header">出口圖片</td>
                        </tr>
                        <tr>
                            <td><img id="in_img" style="width: 300px; height: 300px; max-width: 300px; "></td>
                        </tr>
                    </table>
                </div>

                <div class="layui-tab-item" style="height:600px;overflow-y: scroll">
                    <table class="layui-hide" id="grid_List" lay-filter="grid_List"></table>
                </div>

                <div class="layui-tab-item" style="height: 600px; overflow-y: scroll">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top:5px;">
                        <legend><span style="font-size:14px;color:blue">充電紀錄明細</span></legend>
                    </fieldset>
                    <table id="chargingRecordGridList" class="layui-table">
                        <thead>
                            <tr>
                                <th style="text-align:center;font-weight:bold;color:blue">車牌號碼</th>
                                <th style="text-align:center;font-weight:bold;color:blue">樁號</th>
                                <th style="text-align:center;font-weight:bold;color:blue">已付款</th>
                                <th style="text-align:center;font-weight:bold;color:blue">充電度數</th>
                                <th style="text-align:center;font-weight:bold;color:blue">應繳</th>
                                <th style="text-align:center;font-weight:bold;color:blue">進場時間</th>
                                <th style="text-align:center;font-weight:bold;color:blue">離場時間</th>
                                <th style="text-align:center;font-weight:bold;color:blue">充電開始</th>
                                <th style="text-align:center;font-weight:bold;color:blue">充電結束</th>
                                @* <th style="text-align:center;font-weight:bold;color:blue">發票號碼</th> *@
                                @* <th style="text-align:center;font-weight:bold;color:blue">統編/載具</th> *@
                                @* <th style="text-align:center;font-weight:bold;color:blue">隨機碼</th> *@
                                @* <th style="text-align:center;font-weight:bold;color:blue">折扣類型</th> *@
                                @* <th style="text-align:center;font-weight:bold;color:blue">操 作 人</th> *@
                                @* <th style="text-align:center;font-weight:bold;color:blue">操作時間</th> *@
                            </tr>
                        </thead>
                        <!--内容容器-->
                        <tbody id="chargingRecordContent"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <script src="~/Content/layui/layui.js" charset="utf-8"></script>
        <script src="~/Content/layui/layui.all.js"></script>
</form>

<!--内容模板-->
<script id="contentTpl" type="text/html">
    {{#  layui.each(d.list, function(index, item){ }}
    <tr onclick="openDetail('{{item.Id}}')">
        <td class="td_center" style="font-size:12px;">
            {{item.PayTime}}
        </td>
        <td class="td_center" style="font-size:12px">
            {{ Number(item.PayAmount).toFixed(2)}}
        </td>
        <td class="td_center"  style="font-size:12px;" align="right">
            {{item.PayName}}&nbsp;
            <img style="height:20px;width:20px;max-width:20px;" src="../../Content\framework\images/next.png">
        </td>
    </tr>
    <tr id="openDetail{{item.Id}}" style="display:none">
        <td colspan="3">
            <table width="100%">
                <tr>
                    <td class="td_right" nowrap="nowrap">電子優惠</td>
                    <td  colspan="2">
                        {{# if(item.TimeNum!="0"){ }}{{item.TimeNum}}/分鐘
                        {{# } }}
                    </td>
                </tr>
                <tr>
                    <td class="td_right" nowrap="nowrap">發票號碼</td>
                    <td  colspan="2">{{item.Invoice == null ? "" : item.Invoice}}</td>
                </tr>
                <tr>
                    <td class="td_right" nowrap="nowrap">統編/載具</td>
                    <td  colspan="2">{{item.TaxID == null ? "" : item.TaxID}}</td>
                </tr>
                <tr>
                    <td class="td_right" nowrap="nowrap">隨機碼</td>
                    <td>{{item.VerificationCode == null ? "" : item.VerificationCode}}</td>
                </tr>
                <tr>
                    <td class="td_right" nowrap="nowrap">折扣類型</td>
                    <td  colspan="2">
                        {{# if(item.FreeName!=null && item.PayName=="折扣支付"){ }} {{item.FreeName}}
                        {{# } }}
                    </td>
                </tr>
                <tr>
                    <td class="td_right" nowrap="nowrap">操 作 人</td>
                    <td  colspan="2"> {{item.CreateName}}</td>
                </tr>
                <tr>
                    <td class="td_right" nowrap="nowrap">操作時間</td>
                    <td  colspan="2">{{item.CreateTime}}</td>
                </tr>
                <tr>
                    <td class="td_right" nowrap="nowrap">商店名稱</td>
                    <td colspan="2">
                        {{# if(item.OrgId!=null){ }} {{item.OrgId}}
                        {{# } }}
                    </td>
                </tr>
                <tr>
                    <td class="td_right" nowrap="nowrap">備註</td>
                    <td>
                        {{# if(item.ORemark!=null){ }} {{item.ORemark}}
                        {{# } }}
                    </td>
                    <td align="center" width="20px">
                        <img onclick="openDetail('{{item.Id}}')" style="height:20px;width:20px;max-width:20px;border:0;" src="../../Content\framework\images/up.png">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    {{#  }); }}
    {{# if(d.list.length<=0) { }}
    <tr style="color: red">
        <td colspan="13">查無數據</td>
    </tr>
    {{# } }}
</script>

<script>
    var paging;
    var n1 = 0;
    layui.config({
        base: parent._baseUrl
    }).use(['jquery', 'paging', 'layer'], function () {
        var layer = layui.layer;
        var form = layui.form;
        paging = layui.paging();
        var Key = $.getQueryString("primaryKey");

        initGrid(Key);
        initChargingGrid(Key);

    });

    function openDetail(key) {
        $(document).ready(function () {
            if (n1 == 0) {
                $('#openDetail' + key).show();
                n1 = 1;
            } else {
                $('#openDetail' + key).hide();
                n1 = 0;
            }
        });
    }

    ///收費流水明細
    function initGrid(Key) {
        paging.init({
            url: '/Report/OutRecord/GetChargeListWithInvoice',
            elem: '#content',
            tempElem: '#contentTpl',
            singleSelected: false,
            paged: false,
            params: {
                primaryKey: Key,
                type: "1",
            },
            success: function () {

            }
        });
    }
    
    // 充電紀錄
    function initChargingGrid(Key) {
        paging.init({
            url: '/Report/EVSEChargingRecord/GetChargingRecordByParkingRecord',
            elem: '#chargingRecordContent',
            tempElem: '#chargingRecordContentTpl',
            singleSelected: false,
            paged: false,
            params: {
                parkingRecordID: Key,
                type: "1",
            },
            success: function () {

            }
        });
    }

    ///車輛記錄明細 
    layui.use(['form', 'element', 'table'], function () {
        var form = layui.form, element = layui.element, table = layui.table;

        var primaryKey = $.getQueryString("primaryKey");
        $.ajax({
            url: "/Report/OutRecord/GetFrom?",
            data: { primaryKey: primaryKey },
            type: "post",
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form").formSerialize(data);
            }
        });

        var Inimg = $("#InCarImg").val();
        var Outimg = $("#OutCarImg").val();
        if (Inimg != "")
            $("#in_img").attr("src", Inimg);
        if (Outimg != "")
            $("#out_img").attr("src", Outimg);

        if ($("#InLogoNo").val().trim() != "离场" && $("#InLogoNo").val().trim() != "離場") {
            $("#spanOutTime").html("識別時間");
            $("#spanPlateInfo").html("出口車牌");
        }

        form.render();
    });

    ///室內停車記錄
    layui.use(['form', 'table'], function () {
        var form = layui.form,
            table = layui.table;
        var primaryKey = $.getQueryString("primaryKey");

        function initGrids() {
            table.render({
                elem: '#grid_List',
                url: '/Report/Indoor/CIndex',
                where: {
                    primaryKey: primaryKey
                },
                method: 'post',
                cellMinWidth: 80,
                height: 'full-100',
                cols: [[
                    { field: 'Id', title: 'ID', hide: true },
                    { field: 'InPlate', width: 130, title: '入場車牌', style: 'color:blue' },
                    { field: 'InTime', width: 190, title: '入場時間', sort: true },
                    { field: 'OutPlate', width: 130, title: '出場車牌', style: 'color:blue' },
                    { field: 'OutTime', width: 190, title: '出場時間', sort: true, },
                    { field: 'InChannelName', title: '場內入口', width: 140,},
                    { field: 'OutChannelName', title: '場內出口', width: 140,},
                    { field: 'Remark', title: '備註', },
                ]],
                limits: [30, 50, 80, 100, 150, 200],
                limit: 30,
                page: false,
                done: function (res, curr, count) {
                    if (res.data == null || res.data.length == 0 || res.data.length > 0) {
                        $('.layui-table-total').css({ display: "none" })
                    }
                }
            });
        }

        form.on('submit(add)', function (data) {
            if ($("#InPorrectionPlate").val() == "") {
                return false;
            }
            data.field.city = $("#City").val();
            $.formSubmit({
                url: "/Report/InRecord/Form",
                data: data.field
            });
        });

        initGrids();

    });

</script>
<script id="chargingRecordContentTpl" type="text/html">
    {{#  layui.each(d.list, function(index, item){ }}
    <tr>
        <td title="{{item.OrderNum}}" class="td_center" style="width:150px">
            {{item.identifier}}
        </td>
        <td class="td_center">
            {{item.localChargeBoxID}}
        </td>
        <td class="td_center">
            {{item.paid ? "是" : "否"}}
        </td>
        <td class="td_center">
            {{item.chargedKWH}} 度
        </td>
        <td class="td_center">
            {{item.requestAmount}} 元
        </td>
        <td class="td_center">
            {{item.identifierCheckInAt}}
        </td>
        <td class="td_center">
            {{item.identifierCheckOutAt}}
        </td>
        <td class="td_center">
            {{item.chargingStartAt}}
        </td>
        <td class="td_center">
            {{item.chargingEndAt}}
        </td>
        @* <td class="td_center"  title="{{item.Num}}"> *@
        @*     {{# if(item.FreeName!=null && item.PayName=="优免支付"){ }} {{item.FreeName}} *@
        @*     {{# } }} *@
        @* </td> *@
        @* <td class="td_center"> *@
        @*     {{item.CreateName}} *@
        @* </td> *@
        @* <td class="td_center"> *@
        @*     {{item.CreateTime}} *@
        @* </td> *@
        @* <td class="td_center"> *@
        @*     {{# if(item.OrgId!=null){ }} {{item.OrgId}} *@
        @*     {{# } }} *@
        @* </td> *@
        @* <td class="td_center" title="{{item.ChargeRemark}}"> *@
        @*     {{# if(item.ORemark!=null){ }} {{item.ORemark}} *@
        @*     {{# } }} *@
        @* </td> *@
    </tr>
    {{#  }); }}
    {{# if(d.list.length<=0) { }}
    <tr style="color: red">
        <td colspan="10">查無數據</td>
    </tr>
    {{# } }}
</script>
