<?xml version="1.0" encoding="utf-16"?>
<AllocationInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Id>1</Id>
  <AffirmType>1</AffirmType>
  <Similarity>80</Similarity>
  <StayOutTime>0</StayOutTime>
  <CentralTime>15</CentralTime>
  <APSPaidZeroBufferTime>5</APSPaidZeroBufferTime>
  <MinTime>0</MinTime>
  <MaxTime>0</MaxTime>
  <AccurateUnit>1</AccurateUnit>
  <ApiServer>http://127.0.0.1</ApiServer>
  <ManageAddress>http://127.0.0.1</ManageAddress>
  <NetworkAddress>http://127.0.0.1:3000</NetworkAddress>
  <ServerIP>127.0.0.1</ServerIP>
  <OverdueDay>0</OverdueDay>
  <DiscountRules>2</DiscountRules>
  <DiscountPermissionManagement>1</DiscountPermissionManagement>
  <DiscountMixedLimitMode>1</DiscountMixedLimitMode>
  <DiscountMixedMaxValue>10</DiscountMixedMaxValue>
  <VouchersMoney>10</VouchersMoney>
  <VouchersUnifyNo>27502646|88432714</VouchersUnifyNo>
  <NoPlateOpenType>2</NoPlateOpenType>
  <NoPlateSpaceRules>1</NoPlateSpaceRules>
  <OutPayRules>2</OutPayRules>
  <SharedRules>1</SharedRules>
  <SharedOpenRules>1</SharedOpenRules>
  <SharedConfirmTime>30</SharedConfirmTime>
  <DutyRules>1</DutyRules>
  <BookingRules>2</BookingRules>
  <OutFreeRules>1</OutFreeRules>
  <BlackRules>1</BlackRules>
  <CloudParkId>663018606363152384</CloudParkId>
  <CloudInterface>https://p.goosafe.net/RsAPI</CloudInterface>
  <CloudManage>https://p.goosafe.net</CloudManage>
  <HighWays>1</HighWays>
  <MobileFixRules>1</MobileFixRules>
  <FixCarEdit>2</FixCarEdit>
  <InductivePay>1</InductivePay>
  <PlateCorrection>1</PlateCorrection>
  <TwoOpen>1</TwoOpen>
  <FieldRules>1</FieldRules>
  <HolidayRules>1</HolidayRules>
  <HolidayBegin>2021-02-26 00:00:00</HolidayBegin>
  <HolidayEnd>2021-02-26 00:00:00</HolidayEnd>
  <HolidayInRules>1</HolidayInRules>
  <FixCarOpenRules>1</FixCarOpenRules>
  <NumChargeRules>1</NumChargeRules>
  <DatabackupRules>1</DatabackupRules>
  <DataKeepTime>3</DataKeepTime>
  <HighwaysUrl>https://pyttwb.gov.taipei</HighwaysUrl>
  <HighwaysKey>WeXuUvOkClVaZlCx</HighwaysKey>
  <HighwaysId>70002</HighwaysId>
  <InvoiceKey>50CFF3E711A6A606FF1445BCA9CFECD3</InvoiceKey>
  <Sidentifier>88183601</Sidentifier>
  <InvoiceUrl>http://www.tweisc.com/TSEPO</InvoiceUrl>
  <CMJAccessToken>WBTUD_qMiswLXWja6-cN42UTFb9UAGKEoPNWhiK4rW0</CMJAccessToken>
  <CMJUrl>https://partner-api-alpha.pklotcorp.com</CMJUrl>
  <ViviparkAPPEnable>0</ViviparkAPPEnable>
  <ViviparkCloudAPIUrl>http://vivipark.goosafe.net:8001</ViviparkCloudAPIUrl>
  <ViviparkSiteID>9995</ViviparkSiteID>
  <IRentSiteID>663018606363152384</IRentSiteID>
  <IRentAPPEnable>1</IRentAPPEnable>
  <IRentAPPOrder>1</IRentAPPOrder>
  <IRentAPPEnvMode>1</IRentAPPEnvMode>
  <IRentCloudUsername>jpRCL7QKyBA4R29AP4VVQpYvzotAfTBON302vrxsJdQMeb521aPuzrDOADw9PW63</IRentCloudUsername>
  <IRentCloudPassword>HVooOAdASL1Bie61yOnrA1K1hjE7e2OqAUaJtb4NJH5pODXSqEFo1LPZa4cQhVZc</IRentCloudPassword>
  <PklotAppEnable>0</PklotAppEnable>
  <PklotAppSiteID>TEST</PklotAppSiteID>
  <PklotAppCloudUsername>8Q918kZTy0109L6HaBxdc5WMtQcltOLg</PklotAppCloudUsername>
  <PklotAppCloudPassword>y9BldYXubD4Q3aIIxJuccTtJr7o8Q0LH</PklotAppCloudPassword>
  <PklotAppOrder>2</PklotAppOrder>
  <PklotAppEnvMode>2</PklotAppEnvMode>
  <MultiAppMode>1</MultiAppMode>
  <OcppServiceEnable>1</OcppServiceEnable>
  <OcppApiServerUrl>https://amapi.qidongzhilian.com</OcppApiServerUrl>
  <OcppApiKey>80eab4565bfab744fbd43fae5aee43af</OcppApiKey>
  <ChargeStationID>1</ChargeStationID>
  <OcppUsername>ceshi</OcppUsername>
  <OcppPassword>123456</OcppPassword>
</AllocationInfo>
