@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>App 上傳記錄</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/framework/css/console.css" rel="stylesheet" />
    <link href="~/Content/framework/css/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/framework/js/global.js"></script>
    <script src="~/Content/framework/js/com.js"></script>
    <style type="text/css">
        .layui-table-cell {
            height: auto !important;
            white-space: normal;
        }
    </style>
</head>

<body>
    <div class="panel animated fadeIn">
        <div class="panel-body">
            <fieldset class="layui-elem-field layuimini-search">
                <legend>搜尋資訊</legend>
                <div style="margin: 5px 5px 5px 5px">
                    <div class="layui-form layui-form-pane">
                        <div class="layui-form-item">

                            <div class="layui-inline">
                                <label class="layui-form-label" style="width:120px">記錄時段範圍</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" id="Btime" name="BIntime" placeholder="" autocomplete="off" />
                                </div>
                                <div class="layui-input-inline">
                                    <input class="layui-input" id="Etime" name="EIntime" placeholder="" autocomplete="off" />
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">車牌號碼</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="PlateNo" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            
                            @* <div class="layui-inline"> *@
                            @*     <label class="layui-form-label">裝置種類</label> *@
                            @*     <div class="layui-input-inline"> *@
                            @*         <input type="text" id="DeviceType" autocomplete="off" class="layui-input"> *@
                            @*     </div> *@
                            @* </div> *@

                            @* <div class="layui-inline"> *@
                            @*     <label class="layui-form-label" style="width:120px">支付方式</label> *@
                            @*     <div class="layui-input-inline"> *@
                            @*         <select lay-ignore class="layui-input" name="PayType" lay-verify="required" id="PayType" style="width: 190px;"></select> *@
                            @*     </div> *@
                            @* </div> *@
                            
                            <div class="layui-inline">
                                <label class="layui-form-label" style="width:120px">App</label>
                                <div class="layui-input-inline">
                                    <select lay-ignore class="layui-input" name="AppType" lay-verify="required" id="AppType" style="width: 190px;"></select>
                                </div>
                            </div>

                            @* <div class="layui-inline"> *@
                            @*     <label class="layui-form-label" style="width:120px">訂單號</label> *@
                            @*     <div class="layui-input-inline"> *@
                            @*         <input type="text" id="OrderNo" autocomplete="off" class="layui-input"> *@
                            @*     </div> *@
                            @* </div> *@

                            <div class="layui-inline">
                                <button id="btnSearch" class="toolbar-search-button layui-btn layui-btn-normal layui-btn-small">
                                    <i class="layui-icon">&#xe615;</i>搜 尋
                                </button>

       
                            </div>

                        </div>
                    </div>
                </div>
            </fieldset>

            @* <div id="toolbar" class="elight-table-toolbar"> *@
            @*     <div class="layui-btn-group"></div> *@
            @* </div> *@

            <table class="layui-hide" id="gridList" lay-filter="gridList"></table>

            <script id="barDemo" type="text/html">
                <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
            </script>

            @* <div class="layui-row layui-col-space15"> *@
                @* <div class="layui-col-md5"> *@
                @*     <div class="layui-collapse" lay-accordion=""> *@
                @*         <div class="layui-colla-item"> *@
                @*             <h2 class="layui-colla-title"> *@
                @*                 <i class="layui-icon">&#xe615;</i> 報表說明 *@
                @*             </h2> *@
                @*             <div class="layui-colla-content"> *@
                @*                 <p style="color:currentColor"> *@
                @*                     1. 此報表展示的是所有出去車輛的支付明細情況（默認顯示當天記錄） *@
                @*                     <br> *@
                @*                     2. 報表可以根據支付方式和操作人以及支付時間進行查詢統計,也可以根據車牌號碼進行查詢 *@
                @*                     <br /> *@
                @*                     3. 一輛停車記錄存在多種支付方式，一條停車記錄對應多條收費記錄,電子優惠指電子優惠卷優惠的分鐘數，單位：分鐘 *@
                @*                     <br /> *@
                @*                     4. 此報表默認展示的當天車輛支付明細,沒有出場時間代表此車暫未離場,還在車庫內 *@
                @*                     <br /> *@
                @*                     5.  可以點擊每條記錄「查看」按鈕,查看相關明細信息 *@
                @*                     <br /> *@
                @*                     6.  右側表格為匯總信息表格(根據操作人員和支付方式分類匯總) *@
                @*                 </p> *@
                @*             </div> *@
                @*         </div> *@
                @*     </div> *@
                @* </div> *@
                @* <div class="layui-col-md7"> *@
                @*     <div class="layui-collapse"> *@
                @*         <div class="layui-colla-item"> *@
                @*             <h2 class="layui-colla-title" style="color:blue"> *@
                @*                 <點擊>查看匯總 *@
                @*             </h2> *@
                @*             <div class="layui-colla-content"> *@
                @*                 <table class="layui-hide" id="gridLists" lay-filter="gridLists"></table> *@
                @*             </div> *@
                @*         </div> *@
                @*     </div> *@
                @* </div> *@
            @* </div> *@
        </div>
    </div>
    <script src="~/Content/layui/layui.js" charset="utf-8"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Content/layui_exts/excel.js"></script>
</body>

</html>

<script type="text/javascript">
    layui.config({
        base: parent._baseUrl
    }).use(['jquery', 'form', 'layer', 'laydate'], function () {
        var layer = layui.layer;
        var form = layui.form;
        var laydate = layui.laydate;

        laydate.render({
            elem: "#Etime"
            , type: 'datetime'

        });

        laydate.render({
            elem: "#Btime"
            , type: 'datetime'

        });

        $("#toolbar").authorizeButton();

        $("#AppType").bindSelect({
            url: "/Report/AppRecord/GetAppTypeList"
        });

        // $("#FreeType").bindSelect({
        //     url: "/PBusiness/OptimalFree/GetFreeType"
        // });
        //
        // $("#EquipmentNo").bindSelect({
        //     url: "/Report/ChargeRecord/GetEquipmentNo"
        // });
    });

    layui.use(['form', 'table'], function () {
        var form = layui.form,
            table = layui.table;

        function initGrid() {
            table.render({
                elem: '#gridList',
                url: '/Report/AppRecord/Index',
                where: {
                    appType: $("#AppType").val(),
                    Btime: $("#Btime").val(),
                    Etime: $("#Etime").val(),
                    plateNo: $("#PlateNo").val(),
                    // userName: $("#userName").val(),
                    // FreeType: $("#FreeType").val(),
                    // OrderNo: $("#OrderNo").val(),
                    // EquipmentNo: $("#EquipmentNo").val(),
                    // PayCash: $("#PayCash").val(),
                    // FreePreferential: $("#FreePreferential").val(),
                    // TimeNum: $("#TimeNum").val(),
                    // OType: $("#OType").val(),
                    // OrgId: $("#OrgId").val()
                },
                method: 'post',
                cellMinWidth: 80,
                height: 'full-200',
                totalRow: true,
                cols: [[
                    // { field: '', width: 60, align: 'left', toolbar: '#barDemo', fixed: 'left' },
                    { field: 'CreateAt', width: 170, title: '創建時間' },
                    { field: 'UpdateAt', width: 170, title: '更新時間' },
                    { field: 'Identifier', width: 100, title: '識別號', style: 'color:blue' },
                    { field: 'AppEventTypeName', width: 80, title: '類別' },
                    { field: 'AppEventDirectionName', width: 80, title: '方向' },
                    { field: 'AppTypeName', width: 100, title: 'App' },
                    { field: 'AppRequest', width: 500, title: '訊息' },
                    { field: 'AppResponse', width: 500, title: '回復' },
                    // { field: 'AppResponse', width: 65, title: '方向',  templet: function (d) { return d == 1 ? "入場" : "離場" }},
                    // { field: 'deviceTypeName', width: 65, title: '裝置' },
                    // { field: 'laneName', width: 150, title: '車道' },
                    // { field: 'chargingStartAt', width: 170, title: '充電開始'},
                    // { field: 'chargingEndAt', width: 170, title: '充電結束'},
                    // { field: 'PayAmount', width: 90, title: '支付金額', totalRow: true, style: 'color:blue;text-align:right', fixed: 'left', templet: function (d) { return Number(d.PayAmount).toFixed(0); } },
                    // { field: 'TimeNum', width: 90, title: '電子優惠', totalRow: true, templet: function (d) { return Number(d.TimeNum).toFixed(0) + " 分鐘"; } },
                    // { field: 'PayName', width: 90, title: '支付方式', style: 'color:blue' },
                    // { field: 'Invoice', width: 150, title: '發票號碼' },
                    // { field: 'TaxID', width: 150, title: '統編/載具' },
                    // { field: 'VerificationCode', width: 100, title: '隨機碼' },
                    // { field: 'PayTime', width: 170, title: '支付時間' },
                    // { field: 'MembersId', width: 100, title: '類  型', style: 'color:blue' },
                    // { field: 'InOutState', width: 100, title: "出入狀態", style: 'color:red' },
                    // { field: 'CreateName', width: 150, title: '操作人' },
                    // { field: 'CreateTime', width: 170, title: "操作時間" },
                    @* { field: 'OrderNum', width: 170, title: "訂單號" }, *@
                    // {
                    //     field: 'FreeName', width: 150, title: "折扣類型",
                    //     templet: function (d) {
                    //         if (d.PayName.trim() == "折扣支付")
                    //             return d.FreeName;
                    //         else
                    //             return "/";
                    //     }
                    // },
                    // { field: 'Id', title: 'Id', hide: true },
                    // {
                    //     field: 'OrgId', title: '商店名稱', width: 300,
                    //     templet: function (d) {
                    //         // console.log(`orgid => ${d.OrgId}`)
                    //         // console.log(`payName => ${d.PayName}`)
                    //         if (d.PayName.trim() == "小時券" || d.PayName.trim() == "現金卷")
                    //             return d.OrgId == null ? "" : d.OrgId;
                    //         else if (d.PayName.trim() == "折扣支付") {
                    //             if (d.ORemark != '')
                    //                 return '<div><a href="javascript:void(0)" style="color:blue" onclick=ImgSearcher("' + d.ORemark + '")>' + (d.OrgId == "" ? "/" : d.OrgId) + '</a></div>';
                    //             else
                    //                 return d.OrgId == null ? "/" : d.OrgId;
                    //         }
                    //         else
                    //             return "/";
                    //     }
                    // },
                    // { fixed: '', width: 50, align: 'center', toolbar: '#barDemo' }
                ]],
                limits: [30, 50, 80, 100, 150, 200],
                limit: 30,
                page: true,
                done: function (res, curr, count) {
                    
                    console.log("res = ", res)
                    if (res.data == null || res.data.length == 0) {
                        $('.layui-table-total').css({ display: "none" })

                    }
                    if (res.data != null || res.data.length != 0) {
                        initGrids();
                    }
                }
            });
        }

        initGrid();

        function initGrids() {
            table.render({
                elem: '#gridLists',
                url: '/Report/ChargeRecord/PaySummary',
                method: 'post',
                cellMinWidth: 80,
                totalRow: true,
                where: {
                    FreePreferential: $("#FreePreferential").val()
                },
                cols: [[
                    { field: 'TypeName', title: '分  類', totalRowText: '合計' },
                    { field: 'PaySum', title: '合計金額', totalRow: true, style: 'text-align:right', templet: function (d) { return Number(d.PaySum).toFixed(0); } },
                    { field: 'PayCount', title: '筆 數', totalRow: true },
                ]],
                done: function (res) {
                    if (res.data == null || res.data.length == 0) {
                        $('.layui-table-total').css({ display: "none" })
                    }
                }
            });
        }

        $('#btnSearch').on("click", function () {
            initGrid();
        });

        table.on('tool(gridList)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                $.layerOpen({
                    id: "Detail",
                    title: "車輛記錄詳情",
                    width: "1280px",
                    height: "520px",
                    content: "/Report/OutRecord/Detail?primaryKey=" + data.Id,
                    btn: null
                })
            }
        });

    });

    var layuiRowspan = function (fieldNameTmp, index, flag) {
        let fieldName = [];
        if (typeof fieldNameTmp == "string") {
            fieldName.push(fieldNameTmp);
        } else {
            fieldName = fieldName.concat(fieldNameTmp);
        }
        for (let i = 0; i < fieldName.length; i++) {
            execRowspan(fieldName[i], index, flag);
        }
    }

    var execRowspan = function (fieldName, index, flag) {
        // 1为不冻结的情况，左侧列为冻结的情况
        let fixedNode = index == "1" ? $(".layui-table-body")[index - 1] : (index == "3" ? $(".layui-table-fixed-r") : $(".layui-table-fixed-l"));
        // 左侧导航栏不冻结的情况
        let child = $(fixedNode).find("td");
        let childFilterArr = [];
        // 获取data-field属性为fieldName的td
        for (let i = 0; i < child.length; i++) {
            if (child[i].getAttribute("data-field") == fieldName) {
                childFilterArr.push(child[i]);
            }
        }
        // 获取td的个数和种类
        let childFilterTextObj = {};
        for (let i = 0; i < childFilterArr.length; i++) {
            let childText = flag ? childFilterArr[i].innerHTML : childFilterArr[i].textContent;
            if (childFilterTextObj[childText] == undefined) {
                childFilterTextObj[childText] = 1;
            } else {
                let num = childFilterTextObj[childText];
                childFilterTextObj[childText] = num * 1 + 1;
            }
        }
        let canRowspan = true;
        let maxNum;//以前列单元格为基础获取的最大合并数
        let finalNextIndex;//获取其下第一个不合并单元格的index
        let finalNextKey;//获取其下第一个不合并单元格的值
        for (let i = 0; i < childFilterArr.length; i++) {
            (maxNum > 9000 || !maxNum) && (maxNum = $(childFilterArr[i]).prev().attr("rowspan") && fieldName != "8" ? $(childFilterArr[i]).prev().attr("rowspan") : 9999);
            let key = flag ? childFilterArr[i].innerHTML : childFilterArr[i].textContent;//获取下一个单元格的值
            let nextIndex = i + 1;
            let tdNum = childFilterTextObj[key];
            let curNum = maxNum < tdNum ? maxNum : tdNum;
            if (canRowspan) {
                for (let j = 1; j <= curNum && (i + j < childFilterArr.length);) {//循环获取最终合并数及finalNext的index和key
                    finalNextKey = flag ? childFilterArr[i + j].innerHTML : childFilterArr[i + j].textContent;
                    finalNextIndex = i + j;
                    if ((key != finalNextKey && curNum > 1) || maxNum == j) {
                        canRowspan = true;
                        curNum = j;
                        break;
                    }
                    j++;
                    if ((i + j) == childFilterArr.length) {
                        finalNextKey = undefined;
                        finalNextIndex = i + j;
                        break;
                    }
                }
                childFilterArr[i].setAttribute("rowspan", curNum);
                if ($(childFilterArr[i]).find("div.rowspan").length > 0) {//设置td内的div.rowspan高度适应合并后的高度
                    $(childFilterArr[i]).find("div.rowspan").parent("div.layui-table-cell").addClass("rowspanParent");
                    $(childFilterArr[i]).find("div.layui-table-cell")[0].style.height = curNum * 38 - 10 + "px";
                }
                canRowspan = false;
            } else {
                childFilterArr[i].style.display = "none";
            }
            if (--childFilterTextObj[key] == 0 | --maxNum == 0 | --curNum == 0 | (finalNextKey != undefined && nextIndex == finalNextIndex)) {//||(finalNextKey!=undefined&&key!=finalNextKey)
                canRowspan = true;
            }
        }
    }

    function btn_Excel() {
        layui.use(['layer'], function () {
            var $ = layui.jquery
            var layer = layui.layer
            var excel = layui.excel

            $.ajax({
                url: '/Report/ChargeRecord/Export'
                , dataType: 'json'
                , success: function (res) {
                    var data = res.data
                    data = excel.filterExportData(data, {
                        PlateNo: 'PlateNo'
                        , InTime: 'InTime'
                        , OutTime: 'OutTime'
                        , PayAmount: 'PayAmount'
                        , TimeNum: 'TimeNum'
                        , PayName: 'PayName'
                        , Invoice: 'Invoice'
                        , TaxID : 'TaxID'
                        , VerificationCode : 'VerificationCode'
                        , PayTime: 'PayTime'
                        , MembersId: 'MembersId'
                        , CreateName: 'CreateName'
                        , CreateTime: 'CreateTime'
                        @* , OrderNum: 'OrderNum' *@
                        , FreeName: 'FreeName'
                        , OrgId: 'OrgId'
                    })
                    data.unshift({
                        PlateNo: "車牌號碼",
                        InTime: "入場時間",
                        OutTime: "出場時間",
                        PayAmount: "支付金額",
                        TimeNum: '電子優惠(分鐘)',
                        PayName: '支付方式',
                        Invoice: '發票號碼',
                        TaxID: '統編/載具',
                        VerificationCode : '隨機碼',
                        PayTime: "支付時間",
                        MembersId: "停車類型",
                        CreateName: "操作人",
                        CreateTime: "操作時間",
                        @* OrderNum: "訂單號", *@
                        FreeName: "折扣類型",
                        OrgId: "商店名稱"
                    });
                    top.LAY_EXCEL.exportExcel({
                        sheet1: data
                    }, '支付流水記錄_' + getDateTime() + '.xlsx', 'xlsx')
                }
                , error: function () {
                    layer.alert('存取資料失敗!!!')
                }
            })
        })
    }

    function ImgSearcher(img) {
        $.layerOpen({
            title: "發票【掃描憑證】",
            width: "550px",
            height: "450px",
            content: "/Report/ChargeRecord/FImg?primaryKey=" + img,
            btn: null
        });
    }

    function btn_PDF() {
        window.location.href = "/Report/ChargeRecord/PayRecordPDF"
    }

</script>