@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>入场回收记录报表</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/framework/css/console.css" rel="stylesheet" />
    <link href="~/Content/framework/css/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/framework/js/global.js"></script>
    <script src="~/Content/framework/js/com.js"></script>
</head>
<body>
    <div class="panel animated fadeIn">
        <div class="panel-body">
            <fieldset class="layui-elem-field layuimini-search">
                <legend>搜索信息</legend>
                <div style="margin: 5px 5px 5px 5px">
                    <div class="layui-form layui-form-pane">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">車牌號碼</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="PlateNo" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">操作時段範圍</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" id="Intime" lay-verify="required" name="Intime" placeholder="" autocomplete="off" />

                                </div>
                                <div class="layui-input-inline">
                                    <input class="layui-input" id="Etime" name="Etime" placeholder="" autocomplete="off" />
                                </div>
                            </div>

                            <div class="layui-inline">
                                <button id="btnSearch" class="toolbar-search-button layui-btn layui-btn-normal layui-btn-small">
                                    <i class="layui-icon">&#xe615;</i>搜 索
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div id="toolbar" class="elight-table-toolbar">
                <div class="layui-btn-group"></div>
            </div>

            <table id="gridList" class="layui-form layui-table table-hover elight-table" lay-skin="row" lay-even="">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" lay-skin="primary">
                        </th>
                        <th>入場車牌</th>
                        <th>入場時間</th>
                        <th>入口車道</th>
                        <th>車牌圖片</th>
                        <th>停車類型</th>
                        <th>已付費</th>
                        <th>操作時間</th>
                        <th>備  註</th>
                    </tr>
                </thead>
                <!--内容容器-->
                <tbody id="content"></tbody>
            </table>
            <div id="paged"></div>
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md7">
                    <div class="layui-collapse" lay-accordion="">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">
                                <i class="layui-icon">&#xe615;</i> 報表說明
                            </h2>
                            <div class="layui-colla-content">
                                <p style="color:currentColor">
                                    1. 此報表呈現的是人工手動刪除場內記錄和系統回收場內記錄
                                    <br>
                                    2. 系統回收是根據有相同車牌車輛進出記錄進行系統回收
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/layui_exts/excel.js"></script>
</body>
</html>

<!--内容模板-->
<script id="contentTpl" type="text/html">
    {{#  layui.each(d.list, function(index, item){ }}
    <tr>
        <td>
            <input type="checkbox" lay-skin="primary" value="{{item.Id}}">
        </td>
        <td style="color:Highlight">
            {{item.InPlate}}
        </td>
        <td>
            {{item.InTime}}
        </td>
        <td>
            {{item.InChannelName}}
        </td>
        <td>
            <img style="height:50px;max-width:250px" alt="車牌圖片" src="{{item.InPlateImg}}" />
        </td>

        <td style="color:blue">
            {{item.BusinessName}}
        </td>

        <td>
            {{item.Actual}} 元
        </td>

        <td>
            {{item.OperateTime}}
        </td>

        <td>
            {{item.ORemark}}
        </td>
    </tr>
    {{#  }); }}
    {{# if(d.list.length<=0) { }}
    <tr style="color: red">
        <td colspan="8">查無數據</td>
    </tr>
    {{# } }}
</script>

<script type="text/javascript">
    var paging;
    layui.config({
        base: parent._baseUrl
    }).use(['jquery', 'paging', 'form', 'layer', 'laydate', 'element'], function () {
        var layer = layui.layer;
        var form = layui.form;
        var element = layui.element;
        paging = layui.paging();
        var laydate = layui.laydate;
        laydate.render({
            elem: "#Intime"
            , type: 'datetime'

        });
        laydate.render({
            elem: "#Etime"
            , type: 'datetime'

        });
        initGrid();

        $("#toolbar").authorizeButton();

        $('#btnSearch').click(initGrid);
    });

    function initGrid() {

        paging.init({
            url: '/Report/InRecord/Recycling',
            elem: '#content',
            tempElem: '#contentTpl',
            singleSelected: false,
            openWait: true,
            params: {
                PlateNo: $("#PlateNo").val(),
                InTime: $("#Intime").val(),
                Etime: $("#Etime").val()
            },
            pageConfig: {
                elem: 'paged',
                pageSize: 30,
            },
            success: function () {

            }
        });
    }

    function btn_detail() {
        var ids = $("#gridList").gridSelectedRowValue();
        if (ids.length != 1) {
            $.layerMsg("請勾選單條記錄修改。", "warning");
            return;
        }
        $.layerOpen({
            id: "edit",
            title: "車輛記錄詳情",
            width: "1280px",
            height: "520px",
            content: "/Report/OutRecord/Detail?primaryKey=" + ids[0],
            btn: null
        });
    }

    function btn_enable() {
        var ids = $("#gridList").gridSelectedRowValue();
        if (ids.length < 1) {
            $.layerMsg("請勾選需要啟用的選項。", "warning");
            return;
        }
        $.layerConfirm({
            content: "您已選中" + ids.length + "條數據, 確定啟用嗎",
            callback: function () {
                $.formSubmit({
                    url: '/Report/InRecord/Enable',
                    data: { recordId: ids.toString() },
                    success: function () {
                        initGrid();
                    }
                });
            }
        });
    }

    function btn_Excel() {
        layui.use(['layer'], function () {
            var $ = layui.jquery
            var layer = layui.layer
            var excel = layui.excel

            $.ajax({
                url: '/Report/InRecord/RExport?PlateNo=' + $("#PlateNo").val() + '&InTime=' + $("#Intime").val()
                , dataType: 'json'
                , success: function (res) {
                    var data = res.data
                    data = excel.filterExportData(data, {
                        InPlate: 'InPlate'
                        , InTime: 'InTime'
                        , ChannelName: 'ChannelName'
                        , BusinessName: 'BusinessName'
                        , Actual: 'Actual'
                        , OperateTime:'OperateTime'
                        , ORemark: 'ORemark'
                    })
                    data.unshift({ InPlate: "入場車牌", InTime: "入場時間", ChannelName: '入口車道', BusinessName: '類型', Actual: "已付費",OperateTime:"操作時間", ORemark: "備註" });

                    top.LAY_EXCEL.exportExcel({
                        sheet1: data
                    }, '車輛回收記錄_' + getDateTime() + '.xlsx', 'xlsx')
                }
                , error: function () {
                    layer.alert('獲取數據失败!!!')
                }
            })
        })
    }
</script>
